<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="view.css" />
<link rel="stylesheet" href="font-awesome.min.css" />
</head>
<body>
	<div id="app">
		<el-row class="container">
			<el-col :span="24" class="header">
				<el-col :span="10" class="logo" :class="collapsed?'logo-collapse-width':'logo-width'">
					{{collapsed?'':sysName}}
				</el-col>
				<el-col :span="10">
					<div class="tools" @click.prevent="collapse">
						<i class="fa fa-align-justify"></i>
					</div>
				</el-col>
				<el-col :span="4" class="userinfo">
					<el-dropdown trigger="hover">
						<span class="el-dropdown-link userinfo-inner"><img :src="this.sysUserAvatar" /> {{sysUserName}}</span>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item>我的消息</el-dropdown-item>
							<el-dropdown-item>设置</el-dropdown-item>
							<el-dropdown-item divided @click.native="logout">退出登录</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</el-col>
			</el-col>
			<el-col :span="24" class="main">
				<aside :class="collapsed?'menu-collapsed':'menu-expanded'">
					<!--导航菜单-->
						<el-menu class="el-menu-vertical-demo" @open="handleopen" @close="handleclose" @select="handleselect" v-show="!collapsed" style="width:230px;">
						  <template>
							  <el-submenu index="1">
							    <template slot="title">
							      <i class="el-icon-location"></i>
							      <span slot="title">导航一</span>
							    </template>
							    <el-menu-item-group>
							      <el-menu-item index="1-1">选项1</el-menu-item>
							      <el-menu-item index="1-2">选项2</el-menu-item>
							      <el-menu-item index="1-3">选项3</el-menu-item>
							    </el-menu-item-group>
							  </el-submenu>
							  <el-submenu index="2">
							    <template slot="title">
							      <i class="el-icon-location"></i>
							      <span slot="title">导航二</span>
							    </template>
							    <el-menu-item-group>
							      <el-menu-item index="2-1">选项21</el-menu-item>
							      <el-menu-item index="2-2">选项22</el-menu-item>
							      <el-menu-item index="2-3">选项23</el-menu-item>
							    </el-menu-item-group>
							  </el-submenu>
						  </template>
						</el-menu>
					<!--导航菜单-折叠后-->
					<ul class="el-menu el-menu-vertical-demo collapsed" v-show="collapsed" ref="menuCollapsed"> 
						<li class="el-submenu item">
							<template>
								<div class="el-submenu__title" @mouseover="showMenu(0,true)" @mouseout="showMenu(0,false)" style="padding-left: 20px;" ><i class="el-icon-location"></i></div>
								<ul class="el-menu submenu" :class="'submenu-hook-'+0"  @mouseover="showMenu(0,true)" @mouseout="showMenu(0,false)" > 
									<li  class="el-menu-item" style="padding-left: 40px;" >选项1</li>
									<li  class="el-menu-item" style="padding-left: 40px;">选项2</li>
									<li  class="el-menu-item" style="padding-left: 40px;">选项3</li>
								</ul>
							</template>
						</li>
						<li class="el-submenu item">
							<template>
								<div class="el-submenu__title" @mouseover="showMenu(1,true)" @mouseout="showMenu(1,false)" style="padding-left: 20px;" ><i class="el-icon-location"></i></div>
								<ul class="el-menu submenu" :class="'submenu-hook-'+1"  @mouseover="showMenu(1,true)" @mouseout="showMenu(1,false)" > 
									<li  class="el-menu-item" style="padding-left: 40px;" >选项21</li>
									<li  class="el-menu-item" style="padding-left: 40px;">选项22</li>
									<li  class="el-menu-item" style="padding-left: 40px;">选项23</li>
								</ul>
							</template>
						</li>
					</ul>
				</aside>
				<section class="content-container">
					<div class="grid-content bg-purple-light">
						<el-col :span="24" class="breadcrumb-container">
							<strong class="title">{{$route.name}}</strong>
							<el-breadcrumb separator="/" class="breadcrumb-inner">
								<el-breadcrumb-item v-for="item in $route.matched" :key="item.path">
									{{ item.name }}
								</el-breadcrumb-item>
							</el-breadcrumb>
						</el-col>
						<el-col :span="24" class="content-wrapper">
							<transition name="fade" mode="out-in">
								<router-view></router-view>
							</transition>
						</el-col>
					</div>
				</section>
			</el-col>
		</el-row>
	</div>
	<script src="view.js"></script>
</body>
</html>